@use "../variables" as *;
@use "../mixins" as *;

.dresscode {
    width: 100%;
    .content {
        width: 100%;
        aspect-ratio: 568 / 380;
        perspective: 1000px;
        background: url('../../assets/images/base_bg.png') no-repeat center / cover;
        padding-bottom: 17%;
        .logo {
            margin: 12% 0 8%;
            img {
                max-width: 30px;
                width: 100%;
                height: auto;
            }
        }
        h2 {
            font-family: $font-PinyonScript;
            font-size: 36px;
            font-weight: 300;
            margin-top: 7%;
        }

        .subtext {
            font-size: 11px;
            text-transform: uppercase;
        }

        .colors-grid {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 50%;
            margin-top: 5%;
            .item {
                width: 33.33%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .color {
                    width: 100%;
                    img {
                        max-width: 45px;
                        width: 100%;
                        height: auto;
                    }
                }

                .label {
                    font-size: 12px;
                    margin-top: 10%;
                    font-family: $font-gothamBold;
                    text-transform: uppercase;
                }
            }
        }
    }

    @media (max-width: 568px) {
        .content {
            h2 {
                font-size: calc((36 / 568) * 100vw);
            }

            .colors-grid {
                .item {
                    .color {
                        img {
                            max-width: calc((45 / 568) * 100vw);
                        }
                    }
    
                    .label {
                        font-size: calc((12 / 568) * 100vw);
                    }
                }
            }
        }
    }
}