@font-face {
    font-family: 'SVN-GothamBook';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamBold';
    src: url('../../assets/fonts/SVN-GothamBold.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamLight';
    src: url('../../assets/fonts/SVN-GothamLight.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamLightItalic';
    src: url('../../assets/fonts/SVN-GothamLightItalic.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamLightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy-Bold';
    src: url('../../assets/fonts/SVN-Gilroy-Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy-Xlight';
    src: url('../../assets/fonts/SVN-Gilroy-Xlight.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'Lora';
//     src: url('../../assets/fonts/Lora-Regular.woff2') format('woff2'),
//         url('../../assets/fonts/Lora-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }


@font-face {
    font-family: 'PinyonScript';
    src: url('../../assets/fonts/PinyonScript-Regular.woff2') format('woff2'),
        url('../../assets/fonts/PinyonScript-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVNKeChuyen3';
    src: url('../../assets/fonts/UVNKeChuyen3.woff2') format('woff2'),
        url('../../assets/fonts/UVNKeChuyen3.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UVNBUCTHU';
    src: url('../../assets/fonts/UVNBUCTHU.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'BlushingRose';
//     src: url('../../assets/fonts/1FTV-Blushing-Rose.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }


@font-face {
    font-family: '1FTV-VIP-Qerginas';
    src: url('../../assets/fonts/1FTV-VIP-Qerginas-Frenchstyle-Serif.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Bellamy-Stevenson';
    src: url('../../assets/fonts/Bellamy-Stevenson.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ICIELBCOLDSTYLE';
    src: url('../../assets/fonts/ICIELBCOLDSTYLE-REGULAR.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

